.navbar {
    background-color: rgb(247, 191, 119);
    padding: 10px;
    color: white;
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    
  }
  
  .titulo {text-decoration: none;
    margin: 0;
    border: none;
    color: aliceblue;
    
   
  }
  
  .container-fluid {
    display: flex;
    justify-content: center;
    
  }

  .Carrito{
    margin-left: 90px;
  }
  
